body{
    background-color: #E8F1F2;
}

header{
    display: block;
}

#logo{
    float: left;
}

#perfil{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#bloco-home{
    text-align: center;
    display: block;
    float: left;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: fit-content;
    background-color: #a7a5c6;
    border-radius: 25px;
}

#rifas{
    padding: 10px;
    font-size: 12px;
}

table{
    border-radius: 20px;
    padding: 10px;
}

td{
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: blueviolet;
}

