.menu { 
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 20%;
    height: 400px;
    padding: 20px 20px;
    margin-left: 400px;
    margin-top: 40px;
}

.content {
    text-align: center;
    height: 400px;
}